html { 
  background-color: #284abb ; 
	/*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.button {
  background-color: #eeeded;
  border: none;
  color: #284abb;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
 border-radius: 12px; 
}

.chewy{
  margin: auto;
  display: flex; /*could be block*/
  width: 548px;
	height: 177px;
	left: 590px;
	top: 109px;
	}
	
.greeting{
	position: absolute;
width: 1320px;
height: 381px;
left: 204px;
top: 259px;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 96px;
line-height: 112px;
text-align: center;

color: #FFFFFF;
}
	
.animals{
	position: absolute;
width: 820px;
height: 497px;
left: 454px;
top: 558px;
}


.center{
	margin : 0;
	position: absolute;
	top: 25%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate (-50%,-50%);
	}