.banner{
    background-color: #284abb;
    margin : 0;
    padding: 0;
    height: 200 px;
}

.wrapper {
    display: grid;
    grid-template-columns: 30% 30% 40%;
}

p {
    font-size: 18px;
}
.left {
    display: flex; /* or inline-flex */
    flex-direction: column;
    align-items: left;
    float: left;
    width: 50%;
  }
.right {
    display: flex; /* or inline-flex */
    flex-direction: column;
    align-items: left;
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.left p{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border: 2px solid #284abb;
    border-radius: 5px;
    width: 500px;
    height: 200px;
    padding: 10px;
}

.dogtag {
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 5px solid #284abb;
    border-radius: 5px;
}

.dogtag img {
    max-width: 80px;
    height: auto;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 25%;
}

.dogtag h1 {
    width: 500px;
    float: left;
    left: 20%;
}
.characteristics {
    font-size : 20px;
    font-weight : bold;
}

.scrolling-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border: 1px solid #284abb;
    border-radius: 5px;
  }
.card{
    flex: 0 0 auto;
    width: 15%;
    height: 40%;
    display: block;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.card img{
    width: 85%;
    height: auto;
}
.price {
    color: red;
    font-size: 20px;
}
.card button {
    border-radius: 5px;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 70%;
    font-size: 18px;
}
.description{
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.checked {
    color: blue;
  }
