.banner{
    background-color: #1249d3;
    margin : 0;
    padding: 0;
    height: 200 px;
}

.wrapper {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    margin: 50px;
}

.question {
    font-size : 25px;
    font-weight : bold;
}

.center{
    margin : 0;
    position:absolute;
    top:85%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

#findDogButton{
    background-color: #2854c4;
    color:white;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    border-radius : 12px;
    padding: 32px 20px;
}

body{
    margin:0;
    padding:0;
}

h1{
    border-bottom: 3px solid black;
    float:left;
    padding: 3px;
    width:25%;
    left: 20%;
}


.title{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
color: #284abb;
}


.button {
  background-color: #284abb;
  border: none;
  color: #eeeded;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
 border-radius: 15px;
 font-weight: bold; 
 cursor: pointer;
   outline: none;
   box-shadow: 0 7px #999;
   	margin : 50px;
}

.button:hover{
	background-color: #294180;
	color: #999;
	}
.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
 
