html { 
  background-color: white ; 
}



.image-container{
  background-color: #254DBB;
}

body{
  font-family: "Roboto", sans-serif;
  color: white;
}

h1 {
font-family: sans-serif;
color: black;
font-size: 30px;
white-space: pre;
float:left; 

}

h2 {
font-family: sans-serif;
color: black;
font-size: 30px;
white-space: pre;
float: right;
}


.firstPet-container{
  background-color: #254DBB;
  width: 10px;
  padding: 15px;
  border: 180px solid #254DBB; 
  border-radius: 25px;
  float:left; 
  clear: left;

}

.secondPet-container{
  background-color: #254DBB;
  width: 350px;
  padding: 10px;
  border: 70px solid #254DBB; 
  border-radius: 25px;
  float: right;
  clear:right;

}

.thirdPet-container{
  background-color: #254DBB;
  width: 350px;
  padding: 10px;
  border: 70px solid #254DBB; 
  border-radius: 25px;
  float: right;
  clear:right;
  margin-top: 50px;
}


.chewy{
  margin: auto;
  display: flex;
  width: auto;
	max-height: 100px;
	left: 590px;
	top: 109px;
	}
	

	
